.project .synopsis {
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: #aaa;
}

.project .section {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.project .description {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: .5rem;
  padding: .5rem 1rem;
}
